[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
psycopg2 = "*"
pillow = "*"
whitenoise = "*"
gunicorn = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
